{% extends 'doctorbase.html' %}
{% block content %}
<style>
    table {
        border-collapse: collapse;
        border: none;
        width:1000px;
      }
      th,td{
          padding: 10px;
      }
      th{
          background-color: #03a177;
          color: white;
      }
      tr:nth-child(odd) {background-color: #d9fff5;}
</style>
<center>
<div style="margin: 122px;">
    <hr><h3>Booking</h3><hr>
    <table border="0" style="margin:50px;"> 
        <tr>
            <th>S:NO</th>
            <th>DATE</th>
            <th>PATIENT</th>
            <th>SYMPTOMS</th>
            <th>PROBLEMS</th>
            <th>HISTORY</th>
            <th colspan="2">STATUS</th>
        </tr>
        {% for d in data %}
        <tr>
            <td>{{d.0}}</td>
            <td>{{d.3}}</td>
            <td>{{d.8}}</td>
            <td>{{d.4}}</td>
            <td>{{d.5}}</td>
            <td>{{d.6}}</td>
            <td>{{d.7}}</td>
            {% if d.7 == "submitted" %}
            <td><a href="/doctorpatient?id={{d.0}}">View details</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    </div>
</center>
{% endblock %}