{% extends 'patientbase.html' %}
{% block content  %}
<style>
    td{
        padding: 10px;
    }
</style>

<h1 style="margin:20px;">Rating</h1><hr>
<center>
    <form method="POST">
        {% csrf_token %}
     
        <table>
            <tr>
                <td>Select rating</td>
                <td><input type="radio" name="rating"  value="1" >1
                    <input type="radio" name="rating"  value="2" >2
                    <input type="radio" name="rating"  value="3" >3
                    <input type="radio" name="rating"  value="4" >4
                    <input type="radio" name="rating"  value="5" >5</td>
            </tr>
            <tr>
                <td>Enter your feedback</td>
                <td><textarea class="form-control" name="feedback" ></textarea></td>
            </tr>        
            <tr>
                <td></td>
                <td><input type="submit" name="btnSubmit" class="btn btn-dark" value="Submit"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        
    </form>
</center>

<script>
    var msg="{{msg}}";
    if(msg!="")
    {
        alert(msg);
    }
</script>
</html>

{% endblock %}